<div class = "purchase-form-container mr-auto ml-auto">
  <%= form_for @purchase do |f| %>

    <% if @purchase.errors.any? %>
      <% count = 1%>
      <% @purchase.errors.full_messages.each do |msg| %>
        <p class="text-danger"><%= count%>. <%= msg %></p>
        <% count +=1 %>
      <% end %>
    <%end%>

    <p>
      <%= f.label :Enter_Date_of_Purchase %>
      <%= date_select :purchase, :date, required: true %>
    </p>

    <div class="card card-body bg-light">
      <p class="text-center">Click the plus icon to add items<p>
      <%= f.fields_for :purchase_items do |builder| %>
        <%= render "purchase_item_fields", f: builder %>
      <% end %>
      <%= link_to_add_fields(('<i class="fa fa-plus-square fa-2x"></i>').html_safe, f, :purchase_items) %>
    </div>

    <p class="text-center mt-2">
      <%= f.submit({ class: "btn btn-success btn-sm"}) %>
    </p>

  <% end %>
</div>