<div class="mb-4 mt-2 clearfix">
  <h1 class="d-inline-block mb-0">Purchases</h1>
  <%= link_to '<i class="fa fa-plus"></i> Add new purchase'.html_safe, new_purchase_path, class: "pull-right" %>
</div>
<table class="table table-striped text-center ml-auto mr-auto">
  <thead>
    <tr class="thead-dark">
      <th scope="col">Purchase ID</th>
      <th scope="col">Date</th>
      <th scope="col">Order Value</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <th scope="row"><%= 1000+purchase.id %></th>
        <td><%= purchase.date.strftime("%d/%m/%Y") %></td>
        <td><%= number_with_precision(purchase.order_value, precision: 2) %></td>
        <td><%= link_to ('<i class="fa fa-eye"></i>').html_safe, purchase_path(purchase) %></td>
        <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_purchase_path(purchase) %></td>
        <td><%= delete_link(purchase_path(purchase)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
