<div class="mb-4 mt-2 clearfix">
  <h1 class="d-inline-block mb-0">Unit of Measurements</h1>
  <%= link_to '<i class="fa fa-plus"></i> Add new UOM'.html_safe, new_uom_path, class: "pull-right" %>
</div>
<table class="table table-striped ml-auto mr-auto text-center">
  <thead>
    <tr class="thead-dark">
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% serial_number = 1 %>
    <% @uoms.each do |uom| %>
      <tr>
        <th scope="row"><%= serial_number %></th>
        <td><%= uom.name %></td>
        <td><%= uom.active %></</td>
        <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_uom_path(uom) %></td>
      </tr>
      <% serial_number += 1%>
    <% end %>
  </tbody>
</table>
