<div class = "brands-form-container text-center mr-auto ml-auto">
  <%= form_for @brand, class: "form-group" do |f| %>

    <% if @brand.errors.any? %>
      <% @brand.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <%end%>
    <%end%>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter Brand Name", required: true, class: "form-control" %>
    </p>
    <p>
      <%= f.label :Active %><br>
      <%= f.select :active, ["true", "false"], {required: true}, {class: "form-control"}%>
    </p>
    <p>
      <%=f.submit({ class: "btn btn-success btn-sm"})%>
    </p>
  <% end %>
</div>