<div class="mb-4 mt-2 clearfix">
  <h1 class="d-inline-block mb-0">Categories</h1>
  <%= link_to '<i class="fa fa-plus"></i> Add new category'.html_safe, new_category_path, class: "pull-right" %>
</div>
<table class="table table-striped ml-auto mr-auto text-center">
  <thead>
    <tr class="thead-dark">
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% serial_number = 1 %>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= serial_number %></th>
        <td><%= category.name %></td>
        <td><%= category.active %></</td>
        <td><%= link_to ('<i class="fa fa-edit "></i>').html_safe, edit_category_path(category) %></td>
      </tr>
      <% serial_number += 1%>
    <% end %>
  </tbody>
</table>
