<div class="mb-4 mt-2 clearfix">
  <h1 class="d-inline-block mb-0">Products</h1>
  <%= link_to '<i class="fa fa-plus"></i> Add new product'.html_safe, new_product_path, class: "pull-right" %>
</div>
<table class="table table-striped text-center ml-auto mr-auto">
  <thead>
    <tr class="thead-dark">
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">UOM</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% serial_number = 1 %>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= serial_number %></th>
        <td><%= product.name %></td>
        <td><%= product.active %></td>
        <td><%= product.category.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.uom.name %></td>
        <td><%= link_to ('<i class="fa fa-edit "></i>').html_safe, edit_product_path(product) %></td>
      </tr>
      <% serial_number += 1%>
    <% end %>
  </tbody>
</table>
