<div class="mb-4 mt-2 clearfix text-center">
  <h1 class="d-inline-block mb-0">Show Sale</h1>
  <%= link_to ('<i class="fa fa-edit "></i>').html_safe, edit_sale_path(@sale), class: "pull-right" %>
  <%= delete_link(sale_path(@sale), "pull-right mr-3 ml-3") %>
  <%= link_to ('<i class="fa fa-download "></i>').html_safe, sale_path(@sale, format: :pdf), class: "pull-right" %>
</div>
<div class = "sale-details" >
  <div class="row mt-2 mb-2">
    <div class="col-6">
      <span>Date: <%= @sale.date.strftime("%d/%m/%Y")  %></span>
    </div>
    <div class="col-4">
      <span class="pull-right">Sale ID: </span><br>
      <span class="pull-right">Order Value: </span>
    </div>
    <div class="col-2">
      <span class="pull-left"><%= 1000 + @sale.id %></span><br>
      <span class="pull-left"><%= @sale.order_value %></span>
    </div>
  </div>
  <table class="table table-striped text-center">
    <thead>
      <tr class="thead-dark">
        <th scope="col">S.No</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Brand</th>
        <th scope="col">UOM</th>
        <th scope="col">Quantity</th>
        <th scope="col">Rate</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% serial_number = 1 %>
      <% @sale_items.each do |item| %>
        <tr>
          <th scope="row"><%= serial_number %></th>
          <td><%= item.product.name %></td>
          <td><%= item.product.category.name %></td>
          <td><%= item.product.brand.name %></td>
          <td><%= item.product.uom.abbreviation %></td>
          <td><%= item.quantity %></td>
          <td><%= item.rate %></td>
          <td><%= item.amount %></td>
        </tr>
        <% serial_number += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
